includes:
  - 'vendor/phpstan/phpstan-strict-rules/rules.neon'
parameters:
  level: 8
  inferPrivatePropertyTypeFromConstructor: true
  paths:
    - ./src
    - ./tests
  strictRules:
    allRules: true
  ignoreErrors:
    - identifier: missingType.iterableValue